<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="#about">About</a></li>
              <li><a href="#people">People</a></li>
              <li><a href="#visualization">Visualization Tools</a></li>
              <li><a href="#algorithms">Algorithms</a></li>
              <li><a href="#publications">Publications</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kerschke@uni-muenster.de">email</a></li>
	        		<li><a href="https://github.com/kerschke">github.com/kerschke</a></li>
				</ul>
			</footer>
		</body>
	</html>
